<!DOCTYPE html>
<html>
  <head>
    <title>Starship</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <main>
      <header>
        <h1>Starship</h1>
      </header>
      <div class="container">
        <canvas ref="game" id="game-window" width="800" height="600">
        </canvas>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/game.mjs" type="module"></script>
  </body>
</html>